<aside class="menu">
    <p class="menu-label">
        tests
    </p>
    <ul class="menu-list">
      <li><%= link_to "My Tests", tests_path %></li>
      <li><%= link_to "Test Registration", tests_registration_path %></li>
    </ul>
    <p class="menu-label">
        Profile
    </p>
    <ul class="menu-list">
      <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
    </ul>
  </aside>