
<h2 class="title is-2"><%= current_user.first_name + " " + current_user.last_name %></h2>


<%= link_to current_user.company.name, company_path(current_user.company) if current_user.company %>
<%= render 'dashboard' %>
