<div class="container">
  <div class="grid four-column margin-top margin-bottom">

    <% @company_lab_connections.each do |connection| %>
      <div class="container-box margin-bottom">
        <div>
          <% if current_lab %>
            <%= connection.lab.name %>
          <% elsif current_company %>
            <%= connection.company.name %>
          <% end %>
        </div>
        
        <time datetime="2016-1-1" class="info-text">Connected on <%= readable_timestamp(connection.created_at) %></time>
        <div class="divider"></div>
        <%= link_to "delete", company_lab_connection_path(connection), class: "btn-sm red-outline", method: 'delete', data: { confirm: 'Are you sure you want to delete your account? This action can not be undone.' }  if company_admin?%>
  
    </div>
      <% end %> 
    </div>
  </div>