<table class="table is-fullwidth">
    <thead class="thead">
        <th>Unique Test ID</th>
        <th>MMA</th>
        <th>Creatinine</th>
        <th>Result</th>
        <th>Verified</th>
        <th>Updated On</th>
    </thead>
    <%= render :partial => "test", :collection => @tests %> 
</table>