<table class="table">
    <thead class="thead">
        <th>Unique Test ID</th>
        <th>MMA</th>
        <th>Creatinine</th>
        <th>Result</th>
        <th>Verified</th>
    </thead>
    <tbody class="tbody">
        <%= render @test %>
    </tbody>
</table>
<%= link_to "Update Test", edit_admin_test_path, class: "button is-link is-small" %>