<table class="table">
    <thead class="thead">
        <th>Unique Test ID</th>
        <th>MMA</th>
        <th>Creatinine</th>
        <th>Result</th>
        <th>Verified</th>
    </thead>
    <tbody class="tbody">
        <%= render :partial => "admin/tests/test", :collection => @tests %> 
    </tbody>
</table>